@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-color: #ffffff;
  --secondary-color: #f8f8f8;
  --main-font-color: #040404;
  --secondary-font-color: #6b7280;
  --modal-secondary-font-color: #4b5577;
  --tags-color: #f3f4f6;
  --border-color: #e5e7eb;
  --border-color-two: #cccccc;
  --ep-card-color: #f1f1f1;
  --ep-card-border: #dfdfdf;
  --btn-color: #e2e2e2;
  --clear-btn-color: #333;
  --carousel-color: #e5e7eb;
  --carousel-arrows: #b9b9b9;
  --primary-box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);

  /* Grid variables for calculations */
  --grid-max-col: 4;
  --grid-min-col-size: 250px;
  --grid-gap: 1rem;

  /* Grid calculation: */
  --grid-col-calc: calc(
    (100% - var(--grid-gap) * var(--grid-max-col) - var(--grid-gap)) /
      var(--grid-max-col)
  );
}

[data-theme="dark"] {
  --main-color: #252525;
  --secondary-color: #303030;
  --main-font-color: #dadada;
  --secondary-font-color: #888888;
  --modal-secondary-font-color: #4b5577;
  --tags-color: #525252;
  --border-color: #404142;
  --border-color-two: #5e5d5d;
  --btn-color: #3f3f3f;
  --clear-btn-color: #b3b3b3;
  --carousel-color: #3d3e41;
  --carousel-arrows: #585858;
  --ep-card-color: #2e2e2e;
  --ep-card-border: #525151;
}

/* 
<========= Main Styling =========>
*/

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Inter, sans-serif;

  margin: 0;
  padding-bottom: 6.875rem;

  position: relative;
  background: var(--secondary-color);
}

/* 
<========= Header Styling =========>
*/

.podcast-header {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;

  color: var(--main-font-color);

  background: var(--main-color);
  border-bottom: 1px solid var(--border-color);

  padding-left: 0.5rem;

  font-size: clamp(0.625rem, 1.563vw, 0.9rem);
}

.podcast-header h1 {
  font-weight: 500;
  margin: 0;
  padding: 1.5rem 0;
}

.podcast-header img {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}

.podcast-logo {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;

  margin-right: 9rem;
}

.nav-links h3:hover {
  text-decoration: underline;
}

.theme-switch {
  background: var(--btn-color);

  margin-right: 2rem;

  width: 3rem;
  padding: 0.15rem 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0.25px solid var(--border-color-two);
  border-radius: 1rem;

  cursor: pointer;
}

.theme-switch span {
  transform: translateY(-2.1px);
}

/* 
<========= Show Details Styling =========>
*/

.podcast-modal-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  /* width: 80%; */
}

.modal-content {
  max-width: 56.25rem;
  width: 100%;
  color: var(--main-font-color);
}

.back-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--secondary-font-color);
}

.header {
  display: flex;
  gap: 2rem;
  padding: 2rem;

  background: var(--main-color);

  border-radius: 1rem;
  border: 1px solid var(--border-color-two);
}

.cover-img {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 0.75rem;
  /* background: #ddd; */
  object-fit: cover;
}

.podcast-header-info {
  flex: 1;
}

.title {
  margin: 0;
  font-size: 2rem;
}

.genres {
  margin-top: 1rem;
}

.genre-tag {
  display: inline-block;
  background: var(--tags-color);
  padding: 0.3rem 0.6rem;
  border-radius: 0.375rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.updated {
  margin-top: 1rem;
  color: var(--secondary-font-color);
  font-size: 0.9rem;
}

.stats {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.season-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.season-dropdown {
  padding: 0.5rem;
  font-size: 1rem;
}

.season-card-container {
  background: var(--main-color);
  border: 1px solid var(--border-color-two);
  border-radius: 1rem;
  padding: 2rem;
}

.season-card {
  display: flex;
  gap: 1rem;
  background: var(--main-color);
}

.season-cover img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.375rem;
  object-fit: cover;
}

.episodes-list {
  margin-top: 2rem;
}

.episode-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: var(--ep-card-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--ep-card-border);
}

.ep-description {
  color: var(--secondary-font-color);
}

.episode-img {
  width: 4.375rem;
  height: fit-content;
  border-radius: 0.75rem;
}

.episode-content h4 {
  margin: 0 0 0.5rem 0;
}

.ep-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: auto;
}

.ep-play-btn {
  background: var(--btn-color);
  color: var(--main-font-color);
  height: 2rem;
  width: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 0.25px solid var(--border-color-two);

  cursor: pointer;
}

.ep-play-btn span {
  transform: translateY(-1.32px) translateX(1px);
}

.ep-fav-btn {
  color: gray;

  background: var(--btn-color);
  height: 2rem;
  width: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 0.25px solid var(--border-color-two);

  cursor: pointer;
}

.ep-fav-btn:hover {
  color: #c24242;
  background: #c743434f;
}

/* 
<========= Favourites Page Styling =========>
*/

.favourites-page {
  max-width: 56.25rem;
  width: 100%;
  margin: auto;

  padding: 0 2rem;
}

.favourites-page h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-font-color);
}

.favourites-page > p {
  text-align: center;
}

.fav-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fav-header {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 1rem;
}

.fav-header img {
  width: 5rem;
  height: 5rem;

  border-radius: 1rem;
}

.show-group {
  background: var(--main-color);
  padding: 1rem;
  margin-bottom: 1.5rem;

  border: 1px solid var(--border-color-two);
  border-radius: 1rem;
}

.show-group h2 {
  font-size: 1.5rem;
}

.remove-fav-btn {
  background: #c2424244;

  border: 0.25px solid #c2424256;
  border-radius: 50%;

  height: 2rem;
  width: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.remove-fav-img {
  width: 0.8rem;
  filter: saturate(70%) brightness(90%);
}

.episode-content h5 {
  font-size: 1rem;
  margin: 0;
  color: var(--main-font-color);
}

.episode-content h4 {
  font-size: 1.1rem;
  color: var(--main-font-color);
}

.episode-content p {
  font-size: 0.75rem;
  color: var(--secondary-font-color);
}

.sort-controls {
  display: flex;
  align-items: center;

  gap: 1rem;
}

/* 
<========= Progress Styling =========>
*/

.ep-progress-badge {
  font-size: 0.9rem;
  color: #040404;

  background: #d3d3f8;

  width: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.25px solid #8e8ee7;
  border-radius: 1rem;

  padding: 0.2rem;
}

.reset-btn {
  border: 1px solid #b12727;
  border-radius: 0.2rem;

  color: #b91919;
  background: #f8e6e6;

  padding: 0.3rem 0.75rem;

  cursor: pointer;
}

/* 
<========= Media Queries =========>
*/

@media (min-width: 541px) {
  :root {
    --grid-gap: 2rem;
  }

  main {
    padding-bottom: 2rem;
  }

  .podcast-header {
    padding-left: 1rem;
  }

  .podcast-header img {
    width: 2.75rem;
    height: 2.75rem;
  }

  .filter {
    justify-content: flex-start;
    gap: 1rem;

    padding: 2rem;
  }

  .filter label {
    font-size: 1rem;
  }

  select {
    font-size: 1rem;
  }

  ::picker(select) {
    top: calc(anchor(top) + 36px);
  }
}

@media (max-width: 541px) {
  body {
    padding-bottom: 12.5rem;
  }

  /* .podcast-header {
    justify-content: flex-start;
  } */

  .header {
    flex-direction: column;
    align-items: center;
  }

  .cover-img {
    width: 100%;
    height: 100%;
  }

  .episode-card {
    flex-direction: column;
  }

  .episode-img {
    display: none;
  }

  .ep-btns {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
  }

  .fav-page-header {
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: start;
  }

  .nav-links {
    margin-right: 0;
  }

  .reset-btn {
    font-size: 0.75rem;
  }
}
