@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-color: #ffffff;
  --secondary-color: #f8f8f8;
  --main-font-color: #040404;
  --secondary-font-color: #6b7280;
  --modal-secondary-font-color: #4b5577;
  --tags-color: #f3f4f6;
  --border-color: #e5e7eb;
  --primary-box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);

  /* Grid variables for calculations */
  --grid-max-col: 4;
  --grid-min-col-size: 250px;
  --grid-gap: 1rem;

  /* Grid calculation: */
  --grid-col-calc: calc(
    (100% - var(--grid-gap) * var(--grid-max-col) - var(--grid-gap)) /
      var(--grid-max-col)
  );
}

/* 
<========= Main Styling =========>
*/

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Inter, sans-serif;

  margin: 0;

  position: relative;
  background: var(--secondary-color);
}

/* 
<========= Header Styling =========>
*/

.podcast-header {
  display: flex;
  gap: 0.25rem;
  align-items: center;

  background: var(--main-color);
  border-bottom: 1px solid var(--border-color);

  padding-left: 0.5rem;

  font-size: clamp(0.625rem, 1.563vw, 0.9rem);

  /* width: 100%; */
}

.podcast-header h1 {
  font-weight: 500;
  margin: 0;
  padding: 1.5rem 0;
}

.podcast-header img {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}

/* 
<========= Modal Styling =========>
*/

.podcast-modal-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  /* width: 80%; */
}

.modal-content {
  max-width: 56.25rem;
  width: 100%;
}

.back-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.1rem;
}

.header {
  display: flex;
  gap: 2rem;
  padding: 2rem;

  background: var(--main-color);

  border-radius: 1rem;
  border: 1px solid #cccccc;
}

.cover-img {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: .75rem;
  background: #ddd;
  object-fit: cover;
}

.podcast-header-info {
  flex: 1;
}

.title {
  margin: 0;
  font-size: 2rem;
}

.genres {
  margin-top: 1rem;
}

.genre-tag {
  display: inline-block;
  background: #eef2f4;
  padding: 0.3rem 0.6rem;
  border-radius: 0.375rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.updated {
  margin-top: 1rem;
  color: #444;
  font-size: 0.9rem;
}

.stats {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.season-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.season-dropdown {
  padding: 0.5rem;
  font-size: 1rem;
}

.season-card-container {
  background: var(--main-color);
  border: 1px solid #cccccc;
  border-radius: 1rem;
  padding: 2rem;
}

.season-card {
  display: flex;
  gap: 1rem;
  background: var(--main-color);
}

.season-cover img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.375rem;
  object-fit: cover;
}

.episodes-list {
  margin-top: 2rem;
}

.episode-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: #f1f1f1;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #dfdfdf;
}

.episode-img {
  width: 4.375rem;
  height: fit-content;
}

.episode-content h4 {
  margin: 0 0 0.5rem 0;
}

/* 
<========= Media Queries =========>
*/

@media (min-width: 541px) {
  :root {
    --grid-gap: 2rem;
  }

  main {
    padding-bottom: 2rem;
  }

  .podcast-header {
    padding-left: 1rem;
  }

  .podcast-header img {
    width: 2.75rem;
    height: 2.75rem;
  }

  .filter {
    justify-content: flex-start;
    gap: 1rem;

    padding: 2rem;
  }

  .filter label {
    font-size: 1rem;
  }

  select {
    font-size: 1rem;
  }

  ::picker(select) {
    top: calc(anchor(top) + 36px);
  }
}

@media (max-width: 541px) {
   .header {
    flex-direction: column;
    align-items: center;
  }

  .cover-img {
    width: 100%;
    height: 100%;
  }

  .episode-card {
    flex-direction: column;
  }

  .episode-img {
    display: none;
  }
}
