:root {
  --main-color: #ffffff;
  --secondary-color: #f8f8f8;
  --main-font-color: #040404;
  --secondary-font-color: #6b7280;
  --modal-secondary-font-color: #4b5577;
  --tags-color: #f3f4f6;
  --border-color: #e5e7eb;
  --primary-box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);

  /* Grid variables for calculations */
  --grid-max-col: 5;
  --grid-min-col-size: 225px;
  --grid-gap: 1rem;

  /* Grid calculation: */
  --grid-col-calc: calc(
    (100% - var(--grid-gap) * var(--grid-max-col) - var(--grid-gap)) /
      var(--grid-max-col)
  );
}

* {
  box-sizing: border-box;
}

.podcast-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.podcast-card {
  background: var(--main-color);

  padding: 1rem;

  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  box-shadow: var(--primary-box-shadow);

  cursor: pointer;
  transition: transform 0.2s;
}

.podcast-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.podcast-card:hover {
  transform: scale(1.02);
}

.preview-cover-img {
  width: 100%;
  border-radius: 1rem;

  margin: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;

  margin: 0.75rem 0;
}

.podcast-seasons,
.podcast-updated {
  color: var(--secondary-font-color);
  font-size: 0.75rem;
  font-weight: 600;
}

.podcast-updated {
  margin-bottom: 0;
}

.podcast-genres {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;

  font-size: 0.75rem;
  font-weight: 500;
}

li {
  background: var(--tags-color);

  padding: 0.3125rem 0.5rem;
  border-radius: 0.25rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 541px) {
  :root {
    --grid-gap: 2rem;
  }

  .podcast-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--grid-gap);

    padding: 0 2rem;
  }

  .podcast-card h2 {
    font-size: 1.3rem;
  }

  .podcast-seasons,
  .podcast-updated,
  .podcast-genres {
    font-size: 1rem;
  }

  .podcast-updated {
    margin-bottom: 0.5rem;
  }
}
