* {
  box-sizing: border-box;
}

.podcast-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.podcast-card {
  background: var(--main-color);

  padding: 1rem;

  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  box-shadow: var(--primary-box-shadow);

  cursor: pointer;
  transition: transform 0.2s;
}

.podcast-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.podcast-card:hover {
  transform: scale(1.02);
}

.preview-cover-img {
  width: 100%;
  border-radius: 1rem;

  margin: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;

  margin: 0.75rem 0;

  color: var(--main-font-color);
}

.podcast-seasons,
.podcast-updated {
  color: var(--secondary-font-color);
  font-size: 0.75rem;
  font-weight: 600;
}

.podcast-updated {
  margin-bottom: 0;
}

.podcast-genres {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;

  font-size: 0.75rem;
  font-weight: 500;
}

li {
  background: var(--tags-color);

  padding: 0.3125rem 0.5rem;
  border-radius: 0.25rem;

  color: var(--main-font-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 541px) {
  :root {
    --grid-gap: 2rem;
  }

  .podcast-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--grid-gap);

    padding: 0 2rem;
  }

  .podcast-card h2 {
    font-size: 1.3rem;
  }

  .podcast-seasons,
  .podcast-updated,
  .podcast-genres {
    font-size: 1rem;
  }

  .podcast-updated {
    margin-bottom: 0.5rem;
  }
}
