/* 
<========= Filter Selects Styling =========>
*/

.filter {
  /* padding: 1.5rem 1rem; */
  width: 100%;

  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

label {
  color: var(--main-font-color);
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  font-size: 0.75rem;
  font-weight: 500;
  font-family: inherit;

  color: var(--main-font-color);

  padding: 0.45rem 1rem;

  /* min-height: 2.5rem; */

  border: 1px solid var(--border-color);
  border-radius: .375rem;
  background-color: var(--main-color);

  flex: 1;
}

select.task-status-input {
  margin-bottom: 1.5rem;
}

#add-task-form select {
  margin-bottom: 1.5rem;
}

select::picker-icon {
  color: var(--secondary-font-color);
}

::picker(select) {
  border: none;
  border-radius: 0.5rem;

  box-shadow: var(--primary-box-shadow);

  top: calc(anchor(top) + 32px);

  background: var(--main-color);
  color: var(--main-font-color);
}

option {
  margin: 0.5rem 0 0.5rem 0.5rem;
}

option:not(option:checked) {
  color: var(--secondary-font-color);
}

option::checkmark {
  display: none;
}

select:hover,
option:hover {
  background: var(--btn-color);
}

/* 
<========= Media Queries =========>
*/

@media (min-width: 541px) {
  .filter {
    justify-content: flex-start;
  }

  .filter label {
    font-size: 1rem;
  }

  select {
    font-size: 1rem;
    flex: 0 0 auto;
  }

  ::picker(select) {
    top: calc(anchor(top) + 36px);
  }
}
