.search-bar {
  flex: 1;
  display: flex;
}

.search-bar input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  width: 26rem;
  background: var(--main-color);
  color: var(--main-font-color);
  margin: 0;
}

.search-bar input:focus {
  border: none;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--clear-btn-color);
}

.clear-icon:hover {
  color: var(--main-font-color);
}

/* Mobile: full width */
@media (max-width: 541px) {
  .search-bar input {
    width: 100%;
  }
}
