* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.loading-msg {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  min-width: 17rem;

  background-color: var(--main-color);
  color: var(--main-font-color);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;

  padding: 1rem 2rem;

  border-radius: 1rem;
  box-shadow: var(--primary-box-shadow);
}

.error-msg {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  min-width: 17rem;

  color: rgb(255, 48, 48);
  background-color: var(--main-color);
  color: var(--main-font-color);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;

  padding: 1rem 2rem;

  border-radius: 1rem;
  box-shadow: var(--primary-box-shadow);
}

.load-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more-btn {
  margin: 2rem 2rem 0rem 2rem;
  padding: 0.5rem 1.25rem;

  border: none;
  border-radius: 0.25rem;

  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-font-color);

  background: var(--btn-color);
}

.load-more-btn:hover {
  cursor: pointer;
  background: #c0c0c0;
}

.page-info {
  font-family: inherit;
  font-size: 0.8rem;

  margin-top: 1rem;

  color: var(--main-font-color);
}

.filter-container {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
}

@media (max-width: 541px) {
  .filter-container {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    gap: 1rem;
  }
}
