:root {
  --main-color: #ffffff;
  --secondary-color: #f8f8f8;
  --main-font-color: #040404;
  --secondary-font-color: #6b7280;
  --modal-secondary-font-color: #4b5577;
  --tags-color: #f3f4f6;
  --border-color: #e5e7eb;
  --primary-box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);
}

.player-img {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 1rem;
  object-fit: cover;

  align-self: center;
}

.player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--main-color);
  color: var(--main-font-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 2rem;

  width: 90%;
  margin: auto;
  margin-bottom: 1rem;

  z-index: 9999;
  font-family: inherit;
}

.player-left {
  display: flex;
  gap: 1rem;
}

.ep-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  justify-content: center;
}

.ep-info span {
  color: var(--secondary-font-color);

  font-size: 0.9rem;
}

.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-btn {
  background: #b9b9b9;
  border-radius: 50%;

  cursor: pointer;

  color: #000000;

  margin-bottom: 0.3125rem;
  height: 2.5rem;
  width: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.player-btn .play {
  transform: translateY(-.5px) translateX(1.5px);
}

.player-btn .pause {
  transform: translateY(-1.85px);
}

.seek-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.seek-wrapper input[type="range"] {
  width: 35vw;
  cursor: pointer;

  accent-color: var(--modal-secondary-font-color);
}

.time {
  font-size: 0.75rem;
  width: 2.5rem;
  text-align: center;

  color: var(--secondary-font-color);
}

@media (max-width: 541px) {
  .player-container {
   flex-direction: column;
  }

  .player-btn {
   margin-top: 1rem;
   transform: translateY(-5px);
  }

  .player-center {
   width: 100%;
   flex-direction: row;
   justify-content: space-around;
  }
}
